.achievement
{
    margin-left: 10px;
    margin-top: 10px;
    margin-left:10px;
    margin-right:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#e9d2b3;
    border-radius:5px;
}

.achievenment_text
{
    font-size:16px;
    font-family:"微软雅黑";
    margin-bottom: 2px;
    font-weight:bold;
}

.achievenment_block
{
    margin-left:80px;
    margin-right:10px;
}

.achievement_image
{
    float:left;
    margin-left:10px;
    width:64px;
    height:64px;
    background-color:#ffffff;
    border-radius:5px;
}

.achievenment_progress_out
{
    width: 100%;
    background-color: #777777;
    margin-top:5px;
}

.achievenment_progress_in {
    height: 20px;
    background-color: #FF8933;
}

.achievenment_point
{
    float:left;
    width: 100%;
    height: 20px;
    font-size:12px;
    font-family:"微软雅黑";
    font-weight:bold;
    text-align:center;
    color:#ffffff;
    margin: 0px;
    padding: 0px;
}

.achievenment_award
{
    font-size:12px;
    font-family:"微软雅黑";
    margin-top:5px;
}

.achievenment_button
{
    float:right;
    width:80px;
    height:16px;
    font-size:10px;
    line-height:16px;
    font-family:"微软雅黑";
    background-color: #3887c5;
    text-align:center;
    border-radius:5px;
    color:#ffffff;
}
